In [1]:
# import relevant libraries
import pandas as pd
import numpy as np

# Fundamental Built-in Python Functions for Data Science

## - python print() function

- takes in data as input

- prints output

In [2]:
## Create variable with text
greeting = 'Hello, my name is John'

In [3]:
## Use print function on variable to print text
print(greeting)

Hello, my name is John

In [4]:
## Create greeting variables
greet1 = "Hello"
greet2 = 'Hey'

## Create name variables
name1 = 'John'
name2 = 'Jareth'

## Create puncation variable
punctuation = '!'

In [5]:
## Use print function to assemble sentences out of variables
### Seperate variables with commas in between
print(greet1, name1, punctuation)

print(greet2, name2, punctuation)

Hello John !
Hey Jareth !

In [6]:
## Create list of odd numbers
odd_numbers = [-5, -3, -1, 1, 3, 5]

In [7]:
## Use print function to display list
print(odd_numbers)

[-5, -3, -1, 1, 3, 5]

In [8]:
## Create tuples indicating points on a line
(x1, y1) = (5, 6)

(x2, y2) = (-7, -8)

In [9]:
## Use print to display the result of a math equation
print('Slope:', (y2 - y1) / (x2 - x1))

Slope: 1.1666666666666667

In [10]:
# read grades dataset & save as a pandas dataframe
grades = pd.read_csv('grades.csv')

In [11]:
# fill missing grades with zeros
grades['grade'] = grades['grade'].fillna(0)

In [51]:
grades.head()

   exam  student_id  grade
0     1           1   86.0
1     1           2   65.0
2     1           3   70.0
3     1           4   98.0
4     1           5   89.0

In [13]:
## Create subset of students with grades higher than 70
passing = grades.loc[grades['grade'] >= 70]['grade'].values

## Create subset of students with grades lower than 70
failing = grades.loc[grades['grade'] < 70]['grade'].values

In [14]:
## Use print function to display data in subsets
print('grades atleast 70%:', passing)

print('grades below 70%:', failing)

grades atleast 70%: [ 86.  70.  98.  89.  75.  90.  81.  79.  78.  75.  80.  87.  82.  95.
  96.  78.  80.  87.  89.  90. 100.  72.  73.  75.  80.  81.  82.  83.
  84.  85.  86.  87.  88.  90.  91.  92.  93.  94.  95.  96.  97.  98.]
grades below 70%: [65.  0. 56. 60.  0.  0.  0.  0.]

## - python input() function

- takes a prompt 

- displays prompt to user

- allows user to respond to prompt

- returns the user's response as a string

In [15]:
## Create a variable that prompts the user to enter their name
name = input('Please enter your name: ')

Please enter your name:  John

In [16]:
## Create a response to display to the user
print('Nice to meet you, ', name)

Nice to meet you,  John

In [17]:
# compute mean grade for Exam #1 & save in variable
exam1_mean = grades.loc[grades['exam'] == 1]['grade'].mean()
exam1_mean

71.0

In [19]:
## Create a prompt to ask a student what their grade was on exam #1
grade = input('Please enter your grade for Exam #1: ')

Please enter your grade for Exam #1:  95

In [20]:
## Create a variable that computes the difference between the grade the the exam #1 avg
diff = int(grade) - exam1_mean

diff

24.0

In [21]:
## Create an appropriate response depending on if the grade was higher or lower than the avg
if diff > 0:
    print('You scored', diff, 'points higher than the mean', exam1_mean)
elif diff < 0:
    print('You scored', diff, 'points lower than the mean', exam1_mean)
else:
    print('You scored the same as the mean', exam1_mean)

You scored 24.0 points higher than the mean 71.0

## - python abs() function

- takes a numerical value as input

- returns absolute value of the number

In [22]:
## Use abs function to print the absolute value of a number
abs(70)

70

In [23]:
## Use the abs function to print the absolute value of a negative number
abs(-65)

65

In [24]:
## Create a variable indicating a temperature
temp1 = 98.2

In [25]:
## Use abs function to find absolute value of temperature
abs(temp1)

98.2

In [26]:
## Create a 2nd variable of a temperature on a freezing day
temp2 = -12.5

In [27]:
## Use abs function to display absolute value of a negative temperature
abs(temp2)

12.5

In [28]:
## Create tuples indicating points on a graph
(x1, y1) = (12, 34)

(x2, y2) = (-4, 17)

In [29]:
# compute manhattan distance between the two points
abs(x1 - x2) + abs(y1 - y2)

33

## - python round() function

- will take in a numerical value as input

- will take in a second number to indicate how many digits after the decimal to round to
    - if no second number is specified it will round to the closest whole number


- if equally distanced between 2 numbers, it will round to the even integer

In [30]:
## Use round function on a decimal
round(-12.213)

-12

In [31]:
## Use round function on the same number, but pass in a second argument
round(-12.213, 2)

-12.21

## - python min() function

- takes in either a sequence of numbers or a list of items as input

- if given a sequence it will return the smallest number in the sequence

- if given a list it will return the smallest item on the list

In [32]:
## Initialize nums as a tuple containing some integers
nums = (5, -2, 7, -1, 9, 0)

In [33]:
## Use min function to find the smallest integer
min(nums)

-2

In [34]:
## Initialize listF as a list containing some floating-point numbers
listF = [1.2, -6.17, -9.53, 5.8, -6.7]

In [35]:
## Use min function to find the smallest item in the list
min(listF)

-9.53

In [36]:
# Min function can be used directly on a series of numbers
min(3.84, 3.48, 3.8, 3.004, 3.4)

3.004

## - python max() function

- takes in either a sequence of numbers or a list of items as input

- if given a sequence it will return the largest number in the sequence

- if given a list it will return the largest item on the list

In [37]:
## Use max function to find the largest number
max(nums)

9

In [38]:
## Use max function to find the largest item in the list
max(listF)

5.8

In [39]:
# Max function can be used directly on a series of numbers
max(3.84, 3.48, 3.8, 3.004, 3.4)

3.84

## - python sorted() function

- takes in a sequence as data

- returns the sequence as a sorted list

- does not actually modify original list

- can take in a second argument known as reverse
    - reverse can be set to True or False
    - default is False indicating the order will be ascending
    - if set to True the order displayed will be descending

In [40]:
## Create a list of names
names = ['Alondra', 'Spencer', 'Elizabeth', 'Eddie', 'Henrietta']

In [42]:
## Create a new list of the names listed alphabetically
alphabetical_names = sorted(names)

alphabetical_names

['Alondra', 'Eddie', 'Elizabeth', 'Henrietta', 'Spencer']

In [43]:
## names was not changed
names

['Alondra', 'Spencer', 'Elizabeth', 'Eddie', 'Henrietta']

In [44]:
## Create a list of names listed backwards alphabetically
backwards_names = sorted(names, reverse = True)

backwards_names

['Spencer', 'Henrietta', 'Elizabeth', 'Eddie', 'Alondra']

In [45]:
## Create a tuple of numbers 
nums = (5, -2, 7, -1, 9, 0)

In [46]:
## Create a new list of the numbers sorted from smallest to largest
ordered_nums = sorted(nums)
ordered_nums

[-2, -1, 0, 5, 7, 9]

In [47]:
## Create a new list of the numbers sorted from largest to smallest
backwards_nums = sorted(nums, reverse = True)
backwards_nums

[9, 7, 5, 0, -1, -2]

In [48]:
# Create a list of some float numbers
listF = [1.2, -6.17, -9.53, 5.8, -6.7]

In [49]:
## Create a new list of the floats sorted from smallest to largest
ordered_floats = sorted(listF)
ordered_floats

[-9.53, -6.7, -6.17, 1.2, 5.8]

In [50]:
## Create a new list of the floats sorted from largest to smalles
backwards_floats = sorted(listF, reverse = True)
backwards_floats

[5.8, 1.2, -6.17, -6.7, -9.53]

## - python sum function

- takes a sequence of numbers as input

- returns the sum of all the numbers in the sequence

In [52]:
## Use sum function to compute the sum of all numbers in nums
sum(nums)

18

In [53]:
## Create a list containing some integers
listN = [212, 305, -736, -801, 999]

In [54]:
## Use sum function to compute sum of items in a list
sum(listN)

-21

## - python len function

- takes in either a sequence or a collection of items as input

- returns an integ